<form class="user-password-form" (ngSubmit)="handleSubmit(form)" #form="ngForm" *ngIf="entity" autocomplete="off">
  <div class="modal-header">
    <h4 class="modal-title">
      {{ 'UserDetails.CreatePasswordTitle' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <input type="hidden" name="id" [ngModel]="entity.id" />
    {{ 'UserDetails.CreatePasswordLegend' | translate }}<br />
    {{ 'Labels.PasswordRequirementsTitle' | translate }}<br />
    <div [innerHTML]="'Labels.PasswordRequirements' | translate "></div>

    <div class="mb-2">
      <label class="form-label" for="tempPassword">* {{ 'UserDetails.Password' | translate }}</label>
      <input type="password" class="form-control" name="tempPassword" [ngModel]="entity.tempPassword"
        placeholder="{{ 'UserDetails.PasswordPlaceholder' | translate }}" [ngModelOptions]="{ updateOn: 'blur' }"
        [class.is-valid]="tempPassword.valid && tempPassword.touched"
        [class.is-invalid]="tempPassword.invalid && tempPassword.touched" #tempPassword="ngModel" maxlength="64"
        minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
      <ng-container *ngIf="tempPassword.invalid && tempPassword.touched">
        <div class="invalid-feedback" *ngIf="tempPassword.errors?.['required']">
          {{ 'Labels.FieldRequired' | translate }}
        </div>
        <div class="invalid-feedback" *ngIf="tempPassword.errors?.['minlength']">
          {{ 'Labels.FieldMinLength' | translate:{ min: 8 } }}
        </div>
        <div class="invalid-feedback" *ngIf="tempPassword.errors?.['pattern']">
          {{ 'Labels.PasswordStrength' | translate }}
        </div>
      </ng-container>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">{{ 'Labels.SaveChanges' | translate
      }}</button>
    <button type="button" class="btn btn-dark" (click)="close()">{{ 'Labels.Cancel' | translate }}</button>
  </div>
</form>