
.pl-5{
    padding-left: 5px;
}
/* Hide the default date picker icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
/* Optional: Add some padding so the text is aligned properly */
input[type="date"] {
    position: relative;
    padding-right: 30px; /* Adjust if necessary */
}