

IF NOT EXISTS (SELECT NAME FROM sys.objects WHERE TYPE = 'P' AND NAME = 'BKO_Currency_GetByCompany')
  BEGIN
	EXEC('CREATE PROCEDURE [dbo].[BKO_Currency_GetByCompany] AS RETURN')
END
GO
ALTER PROCEDURE [dbo].BKO_Currency_GetByCompany
	@inCompanyId INT
AS
	SET NOCOUNT ON;

	SELECT 
		TC.ID_EMPRESA as CompanyId, TC.COD_MONEDA AS Id, TC.DES_MONEDA AS [Name], 
		TC.TIPO_CAMBIO_COMPRA AS BuyingRate, TC.TIPO_CAMBIO_VENTA AS SellingRate, TC.FECHA_TIPO_CAMBIO AS EXRDate
	FROM CN_TIPO_CAMBIO TC 
	WHERE ID_EMPRESA = @inCompanyId

	SET NOCOUNT OFF; 
GO

