IF NOT EXISTS(SELECT 1 FROM sys.columns WHERE Name = N'CompanyId' AND Object_ID = Object_ID(N'dbo.FC_MARCA'))
BEGIN
	ALTER TABLE [FC_MARCA] ADD [CompanyId] [int] NULL;
END
GO

UPDATE [FC_MARCA] 
SET [CompanyId] = 2
GO


IF NOT EXISTS (SELECT NAME FROM sys.objects WHERE TYPE = 'P' AND NAME = 'BKO_Bank_GetByCompany')
  BEGIN
	EXEC('CREATE PROCEDURE [dbo].[BKO_Bank_GetByCompany] AS RETURN')
END
GO
ALTER PROCEDURE [dbo].BKO_Bank_GetByCompany
	@inCompanyId INT
AS
	SET NOCOUNT ON;

	SELECT 
		ID_EMPRESA AS 'CompanyId', 
		COD_BANCO AS 'Id', 
		DES_BANCO AS 'Name', 
		TELEFONO AS 'Phone', 
		DIRECCION AS 'Address'
		FROM BCO_BANCO
	WHERE ID_EMPRESA = @inCompanyId
	
	SET NOCOUNT OFF; 
GO

IF NOT EXISTS (SELECT NAME FROM sys.objects WHERE TYPE = 'P' AND NAME = 'BKO_Brand_GetByCompany')
  BEGIN
	EXEC('CREATE PROCEDURE [dbo].[BKO_Brand_GetByCompany] AS RETURN')
END
GO
ALTER PROCEDURE [dbo].BKO_Brand_GetByCompany
	@inCompanyId INT
AS
	SET NOCOUNT ON;

	SELECT 
		[Id],
		[CompanyId],
		[Nombre] AS 'Name'
		FROM FC_MARCA
	WHERE CompanyId = @inCompanyId
	
	SET NOCOUNT OFF; 
GO


