<form class="zone-form" (ngSubmit)="handleSubmit(form)" #form="ngForm" *ngIf="entity" autocomplete="off">
  <input type="hidden" name="id" [ngModel]="entity.id" />

  <div class="mb-3 d-md-flex fw-bold">
    <div class="mt-md-0 mt-2">
      <button type="submit" class="btn btn-link btn-sm text-decoration-none text-dark"
        *ngIf="(hasAdd && entity.id === 0) || (hasUpdate && entity.id > 0)" [disabled]="!form.valid">
        <i class="fa fa-save fa-lg me-2 text-dark"></i> {{ 'Labels.SaveChanges' |
        translate }}</button>
    </div>
    <div class="ms-md-0 mt-md-0 mt-2">
      <button type="button" class="btn btn-link btn-sm text-decoration-none text-dark" (click)="goBack()">
        <i class="fa fa-arrow-left fa-lg me-2 text-dark"></i> {{ 'Labels.GoBack' |
        translate }}</button>
    </div>
  </div>

  <div class="panel panel-inverse">
    <div class="panel-heading">
      <h4 class="panel-title">
        <i class="fa fa-map-location fa-lg fa-fw me-1"></i> {{ 'ZoneDetails.Info' |
        translate }}
      </h4>
    </div>
    <div class="panel-body">
      <div class="mb-3">
        <label class="form-label" for="countryId">* {{ 'ZoneDetails.Country' | translate }}</label>
        <select class="form-select" name="countryId" [ngModel]="entity.countryId" #countryId="ngModel"
          [ngModelOptions]="{ updateOn: 'change' }" [class.is-valid]="countryId.valid && countryId.touched"
          [class.is-invalid]="countryId.invalid && countryId.touched" required (ngModelChange)="loadStates($event)">
          <option [ngValue]=undefined>{{ 'Labels.Select' | translate }}</option>
          <option [ngValue]=c.id *ngFor="let c of countries;">{{ c.name }}</option>
        </select>
        <ng-container *ngIf="countryId.invalid && countryId.touched">
          <div class="invalid-feedback" *ngIf="countryId.errors?.['required']">
            {{ 'Labels.FieldRequired' | translate }}
          </div>
        </ng-container>
      </div>

      <div class="mb-3">
        <label class="form-label" for="stateId">* {{ 'ZoneDetails.State' | translate }}</label>
        <select class="form-select" name="stateId" [ngModel]="entity.stateId" #stateId="ngModel"
          [ngModelOptions]="{ updateOn: 'change' }" [class.is-valid]="stateId.valid && stateId.touched"
          [class.is-invalid]="stateId.invalid && stateId.touched" required>
          <option [ngValue]=undefined>{{ 'Labels.Select' | translate }}</option>
          <option [ngValue]=s.id *ngFor="let s of states;">{{ s.name }}</option>
        </select>
        <ng-container *ngIf="stateId.invalid && stateId.touched">
          <div class="invalid-feedback" *ngIf="stateId.errors?.['required']">
            {{ 'Labels.FieldRequired' | translate }}
          </div>
        </ng-container>
      </div>

      <div class="mb-3">
        <label class="form-label" for="code">* {{ 'ZoneDetails.Code' | translate }}</label>
        <input type="text" class="form-control" name="code" [ngModel]="entity.code"
          [ngModelOptions]="{ updateOn: 'blur' }" placeholder="{{ 'ZoneDetails.CodePlaceholder' | translate }}"
          [class.is-valid]="code.valid && code.touched" [class.is-invalid]="code.invalid && code.touched"
          #code="ngModel" maxlength="50" minlength="1" required>
        <ng-container *ngIf="code.invalid && code.touched">
          <div class="invalid-feedback" *ngIf="code.errors?.['required']">
            {{ 'Labels.FieldRequired' | translate }}
          </div>
          <div class="invalid-feedback" *ngIf="code.errors?.['minlength']">
            {{ 'Labels.FieldMinLength' | translate:{ min: 1 } }}
          </div>
        </ng-container>
      </div>

      <div class="mb-3">
        <label class="form-label" for="name">* {{ 'ZoneDetails.Name' | translate }}</label>
        <input type="text" class="form-control" name="name" [ngModel]="entity.name"
          [ngModelOptions]="{ updateOn: 'blur' }" placeholder="{{ 'ZoneDetails.NamePlaceholder' | translate }}"
          [class.is-valid]="name.valid && name.touched" [class.is-invalid]="name.invalid && name.touched"
          #name="ngModel" maxlength="200" minlength="1" required>
        <ng-container *ngIf="name.invalid && name.touched">
          <div class="invalid-feedback" *ngIf="name.errors?.['required']">
            {{ 'Labels.FieldRequired' | translate }}
          </div>
          <div class="invalid-feedback" *ngIf="name.errors?.['minlength']">
            {{ 'Labels.FieldMinLength' | translate:{ min: 1 } }}
          </div>
        </ng-container>
      </div>

      <div class="mb-3">
        <label class="form-label" for="status">* {{ 'Labels.Status' | translate }}</label>
        <select class="form-select" name="status" [ngModel]="entity.status" #status="ngModel"
          [ngModelOptions]="{ updateOn: 'change' }" [class.is-valid]="status.valid && status.touched"
          [class.is-invalid]="status.invalid && status.touched" required>
          <option [ngValue]=null>{{ 'Labels.Select' | translate }}</option>
          <option [ngValue]=1>{{ 'Status.Draft' | translate }}</option>
          <option [ngValue]=2>{{ 'Status.Active' | translate }}</option>
          <option [ngValue]=3>{{ 'Status.Inactive' | translate }}</option>
        </select>
        <ng-container *ngIf="status.invalid && status.touched">
          <div class="invalid-feedback" *ngIf="status.errors?.['required']">
            {{ 'Labels.FieldRequired' | translate }}
          </div>
        </ng-container>
      </div>

      <div class="mb-3">
        <label class="form-label" for="notes">{{ 'ZoneDetails.Notes' | translate }}</label>
        <textarea class="form-control" name="notes" [ngModel]="entity.notes" rows="4"
          [ngModelOptions]="{ updateOn: 'blur' }" placeholder="{{ 'ZoneDetails.NotesPlaceholder' | translate }}"
          [class.is-valid]="notes.valid && notes.touched" [class.is-invalid]="notes.invalid && notes.touched"
          #notes="ngModel" maxlength="1000"></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label" for="route">{{ 'ZoneDetails.Route' | translate }}</label>
        <input type="number" class="form-control" name="route" [ngModel]="entity.route"
          [ngModelOptions]="{ updateOn: 'blur' }" placeholder="{{ 'ZoneDetails.RoutePlaceholder' | translate }}"
          [class.is-valid]="route.valid && route.touched" [class.is-invalid]="route.invalid && route.touched"
          #route="ngModel" maxlength="99999">
      </div>

    </div>
  </div>
</form>