<div class="d-flex align-items-center mb-3" *ngIf="type === 'Header'">
  <ng-content></ng-content>

  <div class="ms-auto dropdown" ngbDropdown>
    <a href="javascript:;" class="btn btn-primary btn-sm dropdown-toggle" ngbDropdownToggle>
      {{ 'Labels.ShowRecords' | translate:RecordCount }} <b class="caret"></b>
    </a>
    <div class="dropdown-menu dropdown-menu-start" role="menu" ngbDropdownMenu>
      <a href="javascript:;" class="dropdown-item" (click)="setPageSize(p)" *ngFor="let p of PageOptions">{{p}}</a>
    </div>
  </div>

</div>

<div class="d-block d-md-flex align-items-center mb-3" *ngIf="type === 'Footer'">
  <div class="d-flex" *ngIf="totalPages > 0">
    {{ 'Labels.ShowingRecords' | translate:ShowingRecords }}
  </div>

  <div class="ms-auto mt-2" *ngIf="totalPages > 0">
    <ul class="pagination pagination-sm mb-0">
      <li class="page-item" [class.disabled]="Pagination.pi === 1" (click)="gotoPage('first')">
        <span class="page-link pointer"><i class="fa-solid fa-angles-left"></i></span>
      </li>
      <li class="page-item" [class.disabled]="Pagination.pi === 1" (click)="gotoPage('prev')">
        <span class="page-link pointer"><i class="fa-solid fa-angle-left"></i></span>
      </li>
      <li class="page-item active">
        <span class="page-link">{{Pagination.pi}}</span>
      </li>
      <li class="page-item" [class.disabled]="Pagination.pi === totalPages" (click)="gotoPage('next')"><span
          class="page-link pointer"><i class="fa-solid fa-angle-right"></i></span>
      </li>
      <li class="page-item" [class.disabled]="Pagination.pi === totalPages" (click)="gotoPage('last')"><span
          class="page-link pointer"><i class="fa-solid fa-angles-right"></i></span>
      </li>
    </ul>
  </div>
</div>