<!-- <div class="tab-pane fade active show" id="profile-about" role="tabpanel">
  <ng-template #LOADER>
    <ngx-skeleton-loader />
  </ng-template>

  <div class="table-responsive form-inline">
    <table class="table table-profile align-middle">
      <thead>
        <tr>
          <th></th>
          <th>
            <h4 *ngIf="!isLoading; else LOADER">Sean Ngu
              <small>UXUI + Frontend Developer</small>
            </h4>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="highlight">
          <td class="field">Mood</td>
          <td><a href="javascript:;" class="text-decoration-none fw-bold"><i class="fa fa-plus fa-fw"></i> Add Mood
              Message</a></td>
        </tr>
        <tr class="divider">
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="field">Mobile</td>
          <td><i class="fa fa-mobile fa-lg me-5px"></i> +1-(847)- 367-8924 <a href="javascript:;"
              class="ms-5px text-decoration-none fw-bold"><i class="fa fa-plus fa-fw"></i> Edit</a></td>
        </tr>
        <tr>
          <td class="field">Home</td>
          <td><a href="javascript:;" class="text-decoration-none fw-bold"><i class="fa fa-plus fa-fw"></i> Add
              Number</a></td>
        </tr>
        <tr>
          <td class="field">Office</td>
          <td><a href="javascript:;" class="text-decoration-none fw-bold"><i class="fa fa-plus fa-fw"></i> Add
              Number</a></td>
        </tr>
        <tr class="divider">
          <td colspan="2"></td>
        </tr>
        <tr class="highlight">
          <td class="field">About Me</td>
          <td><a href="javascript:;" class="text-decoration-none fw-bold"><i class="fa fa-plus fa-fw"></i> Add
              Description</a></td>
        </tr>
        <tr class="divider">
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="field">Country/Region</td>
          <td>
            <select class="form-select w-200px" name="region">
              <option value="US" selected="">United State</option>
              <option value="AF">Afghanistan</option>
              <option value="AL">Albania</option>
              <option value="DZ">Algeria</option>
              <option value="AS">American Samoa</option>
              <option value="AD">Andorra</option>
              <option value="AO">Angola</option>
              <option value="AI">Anguilla</option>
              <option value="AQ">Antarctica</option>
              <option value="AG">Antigua and Barbuda</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="field">City</td>
          <td>Los Angeles</td>
        </tr>
        <tr>
          <td class="field">State</td>
          <td><a href="javascript:;" class="text-decoration-none fw-bold"><i class="fa fa-plus fa-fw"></i> Add State</a>
          </td>
        </tr>
        <tr>
          <td class="field">Website</td>
          <td><a href="javascript:;" class="text-decoration-none fw-bold"><i class="fa fa-plus fa-fw"></i> Add
              Webpage</a></td>
        </tr>
        <tr>
          <td class="field">Gender</td>
          <td>
            <select class="form-select w-200px" name="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="field">Birthdate</td>
          <td>
            <div class="d-flex align-items-center">
              <select class="form-select w-80px" name="day">
                <option value="04" selected="">04</option>
              </select>
              <span class="mx-2">-</span>
              <select class="form-select w-80px" name="month">
                <option value="11" selected="">11</option>
              </select>
              <span class="mx-2">-</span>
              <select class="form-select w-100px" name="year">
                <option value="1989" selected="">1989</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td class="field">Language</td>
          <td class="with-form-control">
            <select class="form-select w-200px" name="language">
              <option value="" selected="">English</option>
            </select>
          </td>
        </tr>
        <tr class="divider">
          <td colspan="2"></td>
        </tr>
        <tr class="highlight">
          <td class="field">&nbsp;</td>
          <td class="">
            <button type="submit" class="btn btn-primary w-150px">Update</button>
            <button type="submit" class="btn border-0 w-150px ms-5px">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div> -->