
    <form class="package-form" (ngSubmit)="handleSubmit(form)" #form="ngForm" autocomplete="off">
                <div class="mb-2" *ngIf="!isGatewayUser">
                  <label class="form-label" for="companyId">* {{ 'ManifestDetails.Company' | translate }}</label>
                  <select minValueValidator="1" class="form-select" name="companyId" [ngModel]="entity.companyId"
                    #companyId="ngModel" [class.is-valid]="companyId.valid && companyId.touched"
                    (ngModelChange)="companyChange($event)" [class.is-invalid]="companyId.invalid && companyId.touched"
                    required [disabled]="isGatewayUser">
                    <option [ngValue]=0>{{ 'Labels.Select' | translate }}</option>
                    <option [ngValue]=c.id *ngFor="let c of companies">{{ c.name }}</option>
                  </select>
                  <ng-container>
                    <div class="invalid-feedback" >
                      {{ 'Labels.FieldRequired' | translate }}
                    </div>
                  </ng-container>
                </div>
                
  
                <div class="mb-2">
                  <label class="form-label" for="manifestId">* {{ 'Sidebar.Manifest' | translate }}</label>
                  <select minValueValidator="1" class="form-select" name="manifestId" [ngModel]="entity.id"
                    #manifestId="ngModel" [class.is-valid]="manifestId.valid && manifestId.touched"
                    (ngModelChange)="manifestChange($event)" [class.is-invalid]="manifestId.invalid && manifestId.touched"
                    required>
                    <option [ngValue]=0>{{ 'Labels.Select' | translate }}</option>
                    <option [ngValue]=m.id *ngFor="let m of manifests">{{ m.manifestNumber }}</option>
                  </select>
                  <ng-container *ngIf="manifestId.invalid && manifestId.touched">
                    <div class="invalid-feedback" *ngIf="manifestId.errors?.['required'] || manifestId.errors?.['min']">
                      {{ 'Labels.FieldRequired' | translate }}
                    </div>
                  </ng-container>
                </div>
    </form>
