<div class="state-list" *ngIf="countries$ | async as countries">
  <shared-breadcrumb></shared-breadcrumb>

  <h1 class="page-header">{{ 'States.Title' | translate }} <small>{{ 'States.SubTitle' | translate }}</small></h1>

  <div class="mb-3 d-md-flex fw-bold" *ngIf="hasAdd">
    <div class="mt-md-0 mt-2" *ngIf="hasAdd">
      <button type="button" class="btn btn-link btn-sm text-decoration-none text-dark" (click)="addNew()">
        <i class="fa fa-plus fa-lg me-1 text-dark"></i>
        {{ 'Labels.New' | translate }}
      </button>
    </div>
  </div>

  <shared-keyword-search [criteria]="pagination.c ?? ''" (onSearch)="onKeywordSearch($event)"></shared-keyword-search>

  <shared-pagination [Pagination]="pagination" (onPaginationChange)="onPagerChange($event)">
    <shared-dropdown [entities]="countries" (onSelectEntity)="selectCountry($event)"></shared-dropdown>
  </shared-pagination>

  <div class="card border-0 p-3 mb-3" *ngIf="entities$ | async as entities">
    <state-table [entities]="entities" [pagination]="pagination" (onSortBy)="sortBy($event)"
      (onEdit)="editEntity($event)" (onDelete)="deleteEntity($event)"></state-table>
  </div>

  <shared-pagination [type]="'Footer'" [Pagination]="pagination"
    (onPaginationChange)="onPagerChange($event)"></shared-pagination>
</div>