.col-md-3.float-left,.col-md-2.float-left {
    float: left;
    padding: 5px;
}
.p-input-icon-left {
    margin-left: 5px;
}
.p-inputtext{
    border-radius: 0px;
}

::ng-deep .p-datatable .p-datatable-tbody > tr.p-highlight {
    background: none;
    color: unset;
}
.primeng-table .p-datatable-tbody > tr:hover {
    color: rgb(75, 85, 99);
    background: rgb(243, 244, 246);
}
thead, tbody, tfoot, tr, td, th {
    font-size: 12px;
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0 !important;
    padding: 5px !important;
}
.serach-cus button,.serach-cus .p-button-icon {
    padding: 5px !important;
    font-size: 12px !important;
}
.serach-cus button {
    padding: 5px !important;
    font-size: 12px !important;
}
.serach-cus {
    padding: 5px !important;
    font-size: 12px !important;
}
.p-button {
    font-size: 12px !important;
    padding: 5px !important;
}
input.p-inputtext.p-component.p-element.ng-untouched.ng-pristine.ng-valid {
    padding: 5px;
    font-size: 12px;
    padding-left: 30px;
}
i.pi.pi-search {
    font-size: 12px;
    padding-top: 3px;
}

.primeng-table .p-datatable-tbody > tr:hover {
    color: rgb(75, 85, 99);
    background: rgb(243, 244, 246);
}
thead, tbody, tfoot, tr, td, th {
    font-size: 12px;
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0 !important;
    padding: 5px !important;
}

::ng-deep .highlight-row {
    background-color: #d0ebff !important;
    transition: background-color 0.5s ease;
  }
::ng-deep .highlight-row {
    background-color: #d0ebff !important; /* Light blue highlight */
}
::ng-deep .selectedRow {
    background-color: #dee2e6 !important;
}
.wrap-text {
    white-space: normal;
    word-break: break-word;
    max-width: 130px; /* or whatever width fits your layout */
  }
.fa-file-export,.fa-image {
    font-size: 16px;
    margin-left: 5px;
}  
.gray{
    color: gray;
}
.blue{
    color: blue;
}
::ng-deep .dropdown-formcontrol input {
    padding: 6px;
    font-size: 14px;
}
::ng-deep .col-md-12.padding-10 {
    padding: 10px;
}