<div class="customer-pay-type-details" *ngIf="{ entity: entity$ | async, companies: companies$ | async } as data">
  <ng-container *ngIf="data.entity && data.companies">
    <shared-breadcrumb></shared-breadcrumb>

    <h1 class="page-header">{{ 'CustomerPayTypeDetails.Title' | translate }} <small>{{ 'CustomerPayTypeDetails.SubTitle'
        | translate }}</small>
    </h1>

    <customer-pay-type-form [entity]="data.entity" [companies]="data.companies" (onSave)="save($event)"
      (onCompanyChange)="onCompanyChange($event)" (onGoBack)="goBack()"></customer-pay-type-form>

  </ng-container>
</div>