<div class="document-type-details" *ngIf="{ entity: entity$ | async, companies: companies$ | async } as data">
  <ng-container *ngIf="data.entity && data.companies">
    <shared-breadcrumb></shared-breadcrumb>

    <h1 class="page-header">{{ 'DocumentTypeDetails.Title' | translate }} <small>{{ 'DocumentTypeDetails.SubTitle' |
        translate }}</small>
    </h1>

    <document-type-form [entity]="data.entity" [companies]="data.companies" (onSave)="save($event)"
      (onGoBack)="goBack()" (onCompanyChange)="onCompanyChange($event)"></document-type-form>

  </ng-container>
</div>